<div class="page-header">
  <h1>Roster!</h1>
</div>
<div id="list">
	<table class="table table-hover">
    <thead>
	    <tr>
	      <th><a href="" ng-click="sort='first'">First</a></th>
	      <th><a href="" ng-click="sort='last'">Last</a></th>
        <th><a href="" ng-click="sort='gender'">Gender</a></th>
	      <th><a href="" ng-click="sort='age'">Age</a></th>
	      <th></th>
	    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="roster in rosters | orderBy:sort">
        <td>{{roster.firstName}}</td>
        <td>{{roster.lastName}}</td>
        <td>{{roster.gender}}</td>
        <td>{{roster.age}}</td>
        <td>
          <button class="btn btn-danger" ng-click="remove(roster)">X</button>
        </td>
      </tr>
      <tr id="new-item">
        <td><input class="input-medium" type="text" ng-model="newRoster.firstName"></td>
        <td><input class="input-medium" type="text" ng-model="newRoster.lastName"></td>
        <td>
          <select class="input-mini" type="text" ng-model="newEvent.gender">
            <option>M</option>
            <option>F</option>
          </select>
        </td>
        <td><input class="input-medium" type="number" ng-model="newRoster.age"></td>
        <td>
          <button class="btn btn-primary" ng-click="add()">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
