<div id="header">
	<h1>Teams</h1>
</div>
<div id="list">
	<table class="table table-hover">
    <thead>
	    <tr>
	      <th><a href="" ng-click="pred='name'">Name</a></th>
	      <th><a href="" ng-click="pred='mascot'">Mascot</a></th>
	      <th><a href="" ng-click="pred='division'">Division</a></th>
	      <th></th>
	    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="team in items | orderBy:pred">
        <td>{{team.name}}<!-- <input ng-model="team.name"> --></td>
        <td>{{team.mascot}}<!-- <input ng-model="team.mascot"> --></td>
        <td>{{team.division}}<!-- <input ng-model="team.division"> --></td>
        <td>
          <button class="btn" ng-click="remove(team)">X</button>
        </td>
      </tr>
      <tr id="new-item">
        <td><input ng-model="newItem.name" ></td>
        <td><input ng-model="newItem.mascot"></td>
        <td><input ng-model="newItem.division"></td>
        <td>
          <button class="btn" ng-click="add()">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>